// Body
$body-bg: #88b6ab;

$primary: #207564;
$secondary: #45B39D;
$success:   #28a745;
$info:      #17a2b8;
$warning:   #ffc107;
$danger:    #dc3545;
$light:     #f8f9fa;

// Couleurs supplémentaires
$body-bg:       #ffffff;
$body-color:    #212529;
// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
