// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';
$primary: #207564;
$secondary: #45B39D;
$success:   #28a745;
$info:      #17a2b8;
$warning:   #ffc107;
$danger:    #dc3545;
$light:     #f8f9fa;
//$dark:      #45B39D;

// Couleurs supplémentaires
$body-bg:       #ffffff;
$body-color:    #212529;
// Bootstrap
@import 'bootstrap/scss/bootstrap';
